<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
			    <meta http-equiv="X-UA-Compatible" content="IE=edge">
			    <meta name="viewport" content="width=device-width, initial-scale=1">
				<link href="stylesheets/bootstrap.css" rel="stylesheet">
				<link href="stylesheets/style1.css" rel="stylesheet">
				<link href="stylesheets/toastr.min.css" rel="stylesheet">
				<script type="text/javascript" src="/javascripts/canvas.min.js"></script>

	</head>
	<body>
		<div class="navbar navbar-default navbar-static-top navbar_style" role="navigation">
			<div class="container full_size">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" style="font-family: fantasy;">BLOCKOPTIONS</a>
					<p style="font-family: fantasy;font-size:16px;padding-left:57px;"><font color="WHITE" >The Best Trading Platform </font></p>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav ul_style">
						<li><a class="a_style" href="#">White Paper</a></li>
						<li><a class="a_style" href="#">Contract</a></li>
						<li><a class="a_style" href="#">Slack</a></li>
					</ul>

				</div>
			</div>
			
		</div>


		<div class="container"style="margin-top:100px;">
		<div class="col-md-4">
				<p class="text-center"><font color="WHITE">BITCOIN </font></p>
					<div id="btcChartContainer" style="height: 200px; width:auto;">
					</div>
					<h3 style="margin-top: 25px;" class="text-center"><font color="WHITE" id ="priceBtc"> </font></h3>
				</div>					
			
			<div class="col-md-4">
					<p class="text-center"><font color="WHITE">ETHER </font></p>
						<div id="etherChartContainer" style="height: 200px; width:auto;">
						</div>	
						<h3 style="margin-top: 25px;" class="text-center"><font color="WHITE" id ="priceEth"> </font></h3>				
				</div>
				<div class="col-md-4">
						<p class="text-center"><font color="WHITE">LITECOIN </font></p>
							<div id="ltcChartContainer" style="height: 200px; width:auto;">
							</div>	
							<h3 style="margin-top: 25px;" class="text-center"><font color="WHITE" id ="priceLtc"> </font></h3>				
					</div>
				</div>

				<div class="container" style="margin-top:100px;">
						<div class="row margin_top">
                        <div class="col-md-12">
						<h3 class="text-center"><font color="red">HOW TO TRADE:</font></h3>
						<p class="text-center"><font color="white">YOUR TRADE INFORMATION ALONG WITH YOUR ETHEREUM ADDRESS WILL BE SAVED AFTER YOU CLICK INVEST BUTTON.</font></p>
						<p class="text-center"><font color="white">PLEASE INSTALL METAMASK CHROME PLUGIN IF YOU HAVE'NT YET.</font></p>
						<p class="text-center"><font color="white">PLEASE SEND ETHER TO OUR CONTRACT ADDRESS BELOW USING METAMASK.</font></p>
						</div>
						<div class="col-md-12" style="margin-top:50px;">
						
						</div>
					 </div>
					</div>

		<div class="container" style="margin-top:100px;">
				<div class="a_style">
					 <div class="col-md-4">
							<p class="text-center"><font color="red">SELECT COMMODITY </font></p>
			</div>	
			<div class="col-md-4">
						<p class="text-center"><font color="red">SELECT TRADE TIME</font></p>
					</div>	
					<div class="col-md-4">
						<p class="text-center"><font color="red">SELECT UP or DOWN TRADE</font></p>
					</div>
				</div>

			</div>	

			

		<div class="container">
		    <div class="row margin_top">
 			    <div class="col-md-4">
					<select class="form-control" id="commodity">
				        <option>BTC</option>
				        <option>ETH</option>
				        <option>LTC</option>
				    </select>
        </div>	
        <div class="col-md-4">
					
					<select class="form-control" id="tradeTime">
				        <option value ="1">1 min</option>
				        <option value ="2">2 min</option>
				        <option value ="3">3 min</option>
						<option value ="4">4 min</option>
						<option value ="5">5 min</option>
				    </select>
				</div>	
				<div class="col-md-4">
					<select class="form-control" id="tradeSelection">
				        <option value ="1">Value UP</option>
						<option value ="2">Value DOWN</option>
				    </select>
				</div>
			   
			</div>
		</div>	
	    <div class="container" style="margin-top:50px;">	
		    <div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-3">				
					<p class="text-center"><font color="red">ENTER ETHER AMOUNT YOU WANT TO TRADE</font></p>
					<input type="text" placeholder="Enter Ether Amount" class="input_box" id="amount" maxlength="42">
				</div>
				<div id="meta-mask-required"></div>
				<div id="response"></div>
				</div>	
				</div>	
			
		<div class="container" style="margin-top:50px;">
			<div class="row">
			    <div class="col-md-12 text-center">
			    <div class="input_box2">	 	
					<button type="button" class="btn btn-primary" onclick="getDetails(); send();" id="invest">Invest</button>
				</div>
				</div>
				
			</div>
			<div class="row margin_top2"></div>
		</div>
		<div class="container bg-2" id="marketting">
				<p class="stat_big"><span>Trade Statistics</span></p>
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a data-target="#1" data-toggle="tab">Latest Trades </a></li>
						<li><a data-target="#2" data-toggle="tab">My Trades</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="1">
							<div id="divLastBets">
								<div class="row table_top  hidden-xs">
									<div class="col-md-4 col-xs-12">
										<p class="lead" style="padding-left: 10px;">Player Address</p>
									</div>
									<div class="col-md-1 col-xs-6">
										<p class="lead">Bet start</p>
									</div>
									<div class="col-md-1 col-xs-6">
										<p class="lead">Bet End </p>
									</div>
									<div class="col-md-1 col-xs-6">
										<p class="lead">Result</p>
									</div>
									<div class="col-md-2 col-xs-6">
										<p class="lead">Start Time</p>
									</div>
									<div class="col-md-2 col-xs-6">
										<p class="lead">End Time</p>
									</div>
									
								</div>
	
								<div id="last_games">
									
	
								</div>
							</div>
						</div>
						<div class="tab-pane" id="2">
							<div class="row table_filter">
								<div class="col-md-2 filter-text"></div>
									<div class="col-md-5">
										<form>
											<div class="form-group">
	
											</div>
										</form>
									</div>
							</div>
							
							<div id="divLastUserBets">
	
								
									<div class="tab-pane" id="2">
										<div class="row table_filter">
											<div class="col-md-12" >
												<!--<form class="form-horizontal">-->
												<div class="form-group" >
												<label class="control-label col-sm-2" >Enter address:</label>
												<div class="col-sm-6" style="padding-bottom :10px">
													<input type="text" class="form-control" id="myAddress" placeholder="Enter your address">
													</div>
														<button type="submit" onclick="getMyBets()"class="btn btn-default col-sm-2 col-sm-offset-1">Find My Trades</button>
													</div>
												<!--</form>-->
												</div>
								<div class="row table_top  hidden-xs">
									<div class="col-md-4 col-xs-12">
										<p class="lead" style="padding-left: 15px;">Player Address</p>
									</div>
									<div class="col-md-1 col-xs-6">
										<p class="lead">Bet start</p>
									</div>
									<div class="col-md-1 col-xs-6">
										<p class="lead">Bet End </p>
									</div>
									<div class="col-md-1 col-xs-6">
										<p class="lead">Result</p>
									</div>
									<div class="col-md-2 col-xs-6">
										<p class="lead">Start Time</p>
									</div>
									<div class="col-md-2 col-xs-6">
										<p class="lead">End Time</p>
									</div>
								</div>
									<div id = "insertMyBets"> </div>
								</div>
											
								</div>
	
								</div>
								
				</div>	
		<script type="text/javascript" src="/javascripts/clipboard.min.js"></script>
		<script>
				// var btn = document.getElementById('btn');
				var clipboard = new Clipboard('#clipbtn');
				clipboard.on('success', function(e) {
					console.log("copied");
				});
				clipboard.on('error', function(e) {
					console.log(e);
				});
				</script>
		
		<script type="text/javascript" src="/javascripts/jquery.js"></script>
      <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
      <script type="text/javascript" src="/javascripts/axios.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
	  <script type="text/javascript" src="/javascripts/toastr.min.js"></script>
	  <!-- <script type="text/javascript" src="/javascripts/toastr.js.map"></script> -->
      <script type="text/javascript" src="/javascripts/index.js"></script>




	</body>
</html>




